@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_medium';
    src: url('./assets/fonts/Roboto_medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMedium';
    src: url('./assets/fonts/Gotham-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBlack';
    src: url('./assets/fonts/Gotham-Black.ttf') format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'GothamBold';
    src: url('./assets/fonts/Gotham-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'GothamBook';
    src: url('./assets/fonts/Gotham-Book.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
